# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv
venv/
env/
*.egg-info/
dist/
build/
.pytest_cache/
*.db

# Storage (user uploads & trained models - too big for git)
backend/storage/uploads/
backend/storage/models/

# Node
node_modules/
frontend/dist/
frontend/.env

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
